body{
    background-color: gray;
}

.logo{
    padding: 0.3rem;
    background-color: rgb(34, 77, 220);
    border-radius: 5px;
    color: white;

}

.logos{
    background-color: rgb(75, 72, 72);
}

.titulo{
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
    font-size: 30px;
    
}

img:hover{
    padding: 1rem;
}

a:hover{
    border-style: double;
}

btn{
    border-color: blueviolet;
    border: 10px;
}