body{
    font-family: 'Open Sans',  sans-serif;
}
/*-----------------------------------------------------------Inicio del header------------------------------------------------------------------*/
.header{
    
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: space-between;
    padding: 0rem 2rem;
}
.header__logo{
    width: 150px;
    height: 70px;
}

.header__nav{
    list-style-type: none;
    text-decoration: none; 
    margin-top: 1.5rem;
    
    
}

.header__nav li{
    display: inline-block;
    margin-left: 2rem;
   
    
}

a{
    text-decoration: none;
    color: black;

}

a:hover{
    color: orangered;
}


.img1{
    margin-top: 2rem;
    width: 100%;
}

.cards11{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
    "card3 card4 card5"
    ;
    text-align: center;
    justify-content: center;
    margin-left: 3.5rem;
    padding-bottom: 6rem;
    }
    
.card11{
    width: 300px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-areas: card;
}


.card22{
    width: 300px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-areas: card1;
}

.card33{
    width: 300px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-areas: card2;
}

.logo{
    padding: 0.3rem;
    background-color: rgb(68, 187, 223);
    border-radius: 5px;
    color: white;
}
.logos{
    margin-top: 1rem;
    grid-area: logos;
}
.copy{
    grid-area: copy;
    color: white;
    
}
.foot{
    display: grid;
    grid-template-columns:repeat(50% 50%);
    grid-template-areas: "logos copy";
    justify-content: space-around;
    padding: 2rem ;
}
footer{
    margin: 0%;
    background-color: rgb(62, 76, 85);
}
/*-------------------------------------------------------------*/
.formcontacto1{
    width: 200px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    line-height: 2rem;
    grid-area:from1 ;
    margin-left: 300px;

}


.formcontacto2{
    width: 200px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    line-height: 1.5rem;
    margin-left: 50px;
grid-area:form2 ;
}

.formularios{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "form1 form2";
    justify-content: center;
    margin-bottom: 4rem;
    
}


.form3{
    margin-top: 3rem;
    margin-left: 35%;
    width: 300px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-areas: card;
    text-align: center;
    margin-bottom: 4rem;
}

/*----------------------------------------------------------------Productos-------------------------------------------------------------*/

.titulo{
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
    font-size: 30px;
    
}


.cards{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(1, 1fr);
   grid-template-areas:
   "card card1 card2"
;
margin-left: 5%;
text-align: center;


}

.cards1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
    "card3 card4 card5"
    ;
    text-align: center;
    justify-content: center;
    margin-left: 5%;
}
 .cards2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
    "card6 card7 card8"
 ;
    text-align: center;
    justify-content: space-around;
    margin-left: 5%;
    margin-bottom: 4rem;
}

 .imgp{
    width: 200px;
    border-radius: 15px;
}

.card{
    width: 300px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-areas: card;
}


.card1{
    width: 300px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-areas: card1;
}

.card2{
    width: 300px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-areas: card2;
}

.card3{
    width: 300px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-areas: card3;
}

.card4{
    width: 300px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-areas: card4;
}

.card5{
    width: 300px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-areas: card5;
}

.card6{
    width: 300px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-areas: card6;
}

.card7{
    width: 300px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-areas: card7;
}

.card8{
    width: 300px;
    padding: 1rem;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-areas: card8;
}







@media only screen and (max-width: 320px) {
        .img1 {
          display: none;
        }
      }
      
@media (max-width: 320px){

    .header__nav li{
        margin-top: 2rem;
        display: inline-block;
        margin-left: 0%;
        margin-right: 0.4rem;
       
        
    }
      
      .header__nav{
          display: flex;
          flex-wrap: wrap;
          columns: 100%;
          font-size: 10px;
      }

    .formcontacto1{
        width: 200px;
        padding-left: 1rem;
        background-color: aqua;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        text-align: center;
        line-height: 2rem;
        grid-area:from1 ;
       margin-left: 15%;
       
    
    }

    
    .formcontacto2{
        width: 200px;
        padding-left: 1rem;
        background-color: aqua;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        text-align: center;
        line-height: 1.5rem;
        margin-left: 15%;
    grid-area:form2 ;
    margin-bottom: 8rem;
    }
    
    .formularios{
        margin-top: 4rem;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        "form1" 
        "form2"
        ;
        
    }
    .form3{
        width: 270px;
        margin-left: 0%;
    }
    footer{
        width: 300px;
        margin-top: 3rem;
    }

    .header__nav{
        margin: 0% 0%;
        padding: 0% 0%;
    }

    .header__logo{
        margin: auto;
        width: 40%;
        justify-content: space-around;
        text-align: center;
        padding-left: 20%;
        padding-right: 40%;
    }

    .header{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .foot{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .copy{
        justify-content: center;
        text-align: center;
    }

    .img1{
        width: 100%;
        margin-top: 1rem;
        margin: 0% auto;
        height: 160px;
       
    }

    .cards11{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "card3" 
        "card4" 
        "card5"
        ;
        text-align: center;
        justify-content: center;
        margin-left: 14%;
        padding-bottom: 6rem;
        }

    .card11{
        width: 200px;
        margin-top: 1rem;
        background-color: aqua;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    }
    
    .card22{
        width: 200px;
        margin-top: 1rem;
        background-color: aqua;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .card33{
        width: 200px;
        margin-top: 1rem;
        background-color: aqua;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .cards1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0% auto;
        }
        
        .cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0% auto;
        }

        .cards2{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0% auto;
        }
        img{
            width: 80px;
            border-radius: 15px;
        }

        .card{
            width: 200px;
            margin-top: 1rem;
            background-color: aqua;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        .card1{
            width: 200px;
            margin-top: 1rem;
            background-color: aqua;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        
        .card2{
            width: 200px;
            margin-top: 1rem;
            background-color: aqua;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        
        .card3{
            width: 200px;
            margin-top: 1rem;
            background-color: aqua;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        .card4{
            width: 200px;
            margin-top: 1rem;
            background-color: aqua;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        
        .card5{
            width: 200px;
            margin-top: 1rem;
            background-color: aqua;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        .card6{
            width: 200px;
            margin-top: 1rem;
            background-color: aqua;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        }
        
        .card7{
            width: 200px;
            margin-top: 1rem;
            background-color: aqua;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        
        .card8{
            width: 200px;
            margin-top: 1rem;
            background-color: aqua;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
}
